html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F5F4F6;
}

*{
    box-sizing: border-box;
}

.passos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 3px solid black;
}

.passos > div{
    position: absolute;
}

.gatilhos{
    position: absolute;
}
.gatilhos > div{
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}
