* {
  box-sizing: border-box;
}

body {
  background: Lavender;
  color: Indigo;
  font-family: sans-serif;
  margin: 0;
}

.sticky {
  align-items: center;
  background: Indigo;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: sticky;
  top: 0;
}

.steps {
  color: Lavender;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.step {
  font-size: 24px;
  height: 100vh;
  padding: 0 32px;
}

.content {
  backdrop-filter: blur(8px);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: fit-content;
}

p {
  font-size: 18px;
  margin-block: 48px;
  margin-inline: auto;
  max-width: 600px;
  width: calc(100% - 48px);
}

.fantasma {
  align-items: start;
  aspect-ratio: 2/3;
  background: linear-gradient(GhostWhite, Transparent);
  border-radius: 48px 48px 0 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 50%;
  position: absolute;
  scale: 1;
  top: 50%;
  transition: all 1s;
  translate: -50% -50%;
  width: 96px;
}

.olho {
  aspect-ratio: 1;
  background: Indigo;
  border-radius: 50%;
  margin-top: 48px;
  width: 16px;
}
