body {
  background: linear-gradient(Indigo, Tomato);
  font-family: sans-serif;
  height: 300vh;
  margin: 0;
}
nav {
  background: Lavender;
  width: 240px;
  padding: 12px;
  border-radius: 12px;
  position: fixed;
  top: 24px;
  left: 24px;
  clip-path: circle(36px at 48px 48px);
  transition: all 1s;
}
nav.ativa {
  clip-path: circle(360px at 48px 48px);
}
nav a {
  text-decoration: none;
  font-size: 48px;
}
nav a:hover {
  color: DeepPink;
}
button {
  all: unset;
  background: HotPink;
  border-radius: 100%;
}
button:hover {
  background: DeepPink;
  cursor: pointer;
}
button img {
  width: 48px;
  aspect-ratio: 1;
  padding: 12px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 12px;
}
