/* Calcula largura ignorando padding etc */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 320px);
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

header nav {
  display: flex;
  gap: 8px;
}

header nav a {
  white-space: nowrap;
}

main {
  background: lightblue;
  width: calc(100% - 320px);
  margin-left: 320px;
  margin-top: 55px;
}

form {
  height: 55px;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  height: 32px;
  border-radius: 16px;
  border: 1px solid black;
  padding: 0 16px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background: lightgray;
  padding: 0 40px;
}

aside nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-transform: uppercase;
  padding: 40px 0;
}

aside nav div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-editorias {
  font-weight: bold;
}

.menu-tags a {
  align-self: start;
  background: rgb(240, 141, 240);
  padding: 4px 12px;
  border-radius: 24px 4px 4px 4px;
  border: 1px solid black;
  white-space: nowrap;
}
