html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F5F4F6;
}

*{
  box-sizing: border-box;
}

.passos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index:2;
}

.passos > div{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  display: none;
  align-items: center;
}

.passos > div.passo-ativo{
  display: flex;
}

.passos > div > *{
  display: block;
}

.passos > div > img{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.passos p{
  width: 20%;
  margin-right: 20%;
}

.gatilhos{
  position: absolute;
}
.gatilhos > div{
  border:4px solid red;
  height: 100vh;
  width: 100vw;
  z-index:100;
  padding: 10%;
}
