* {
  box-sizing: border-box;
}

html {
  background: #eee;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 24px;
}

#jogo {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 16px;
  height: 640px;
  margin: 48px auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}

canvas {
  left: 50%;
  position: absolute;
  top: 0;
  translate: -50%;
  z-index: 1;
}

.etapa {
  pointer-events: none;
  position: relative;
  padding: 48px;
  z-index: 2;
}

.etapa button,
.etapa input {
  pointer-events: all;
}
